.unstyled-ul section ul {
    list-style-type: none;
    margin-left: 0;
}

.reveal section li img {
    margin-right: .3em;
}

.reveal h1 { color: black; }

.reveal {
    background: #f2f2f2;
}

.title .reveal {
    background: #f2f2f2 url(../../img/html5-topper.png) top center no-repeat;
    background-size: contain;
}

.title h1 {
    display: none;
}

.title .present {
    height: 100%;
}

.title .author {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tech-storage .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/offline.png) 20px 20px no-repeat;
}

.tech-cache .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/offline.png) 20px 20px no-repeat;
}

.tech-connectivity .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/connectivity.png) 20px 20px no-repeat;
}

.tech-device .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/device.png) 20px 20px no-repeat;
}

.tech-3d .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/3d.png) 20px 20px no-repeat;
}

.tech-semantics .reveal {
    background: #f2f2f2 url(../../img/tech-classes-64/semantics.png) 20px 20px no-repeat;
}


.reveal pre {
	width: auto;
	font-size: .75em;
}

.reveal pre code {
	background: #333;
	color: #eee;
}

.reveal pre .string {
	color: #ffcccc;
}

