<div id="map" style="width:100%; height:100%"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ4gmg6SKea1wcCN9lF9v2ASpAVjKLy9E&sensor=false"></script>
<script>
    function initializeMap() {
        google.maps.visualRefresh = true;
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                console.log(position);
                var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                var marker = new google.maps.Marker({ position: latLng, map: map, title: 'Accuracy: ' + position.coords.accuracy + ' meters' });
                map.setCenter(latLng);
            }, function(err) {
                alert(err);
            });
        }
    }
    
    google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
